{layout './@layout.latte'}

{define title}Welcome!{/define}

{define content}
	<h1>Congratulations!</h1>
	<h2>You've just installed ZaxCMS.</h2>
	<p><a n:href="this, view => Modules">Learn how to create custom modules for ZaxCMS {icon arrow-right}</a></p>
{/define}